In [1]:
a = 1
b = 2
c = 3
d = 4

In [2]:
a+b, a-b, a+c

(3, -1, 4)

In [3]:
print(a+b)
print(a+b,a-b,a+c)

3
3 -1 4

In [6]:
print(a*b)
print(d/b)
print(d%c)

2
2.0
1

In [7]:
a = input() #input 은 문자열로만 입력받는다,

aa

In [8]:
a = float(input())
b = int(input())
type(a), type(b)

123
234

(float, int)

In [9]:
a = '채정민'
b = '송기냄'
a == b

False

In [11]:
파이썬은 = '한글도'
변수가 = '된다구'
파이썬은 == 변수가

False

In [17]:
python = "aa"
'a' in python

True

In [18]:
print('*'*20)

********************

In [23]:
A = '안녕하세요 지금은 인공지능 수업 시간입니다.'
print(A[0],A[-1])

안 .

In [24]:
print(A[:10])

안녕하세요 지금은

In [25]:
print(A[:4])

안녕하세

In [26]:
print(A[:-1])

안녕하세요 지금은 인공지능 수업 시간입니다

In [27]:
print(A[-1:0])

In [29]:
print(A[0:-1])

안녕하세요 지금은 인공지능 수업 시간입니다

In [30]:
name = '채민'
print('{}'.format(name))

채민

In [31]:
print(f'{name}')

채민

In [32]:
print('{1}, {0}'.format(name,'제이름은'))

제이름은, 채민

In [33]:
import math
print(math.pi)

3.141592653589793

In [35]:
url = 'https://www.youtube.com'
string = url.replace('https://','')
print(string)

www.youtube.com

In [42]:
A = [1,2,3,4,5,6]
A[:4]

[1, 2, 3, 4]

In [43]:
a= list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
a.index(5)

5

In [45]:
b = list(range(1,20,2))

In [47]:
b.index(5)

2

In [50]:
a = ['독고영재,50','김철수,30']
a[0][:a[0].index(',')]

'독고영재'

In [1]:
a = ['a',10,1.1]
print(type(a[0]))

<class 'str'>

In [2]:
a.append('채정민')

In [3]:
a

['a', 10, 1.1, '채정민']

In [4]:
a.pop(0)

'a'

In [5]:
dict1 = {'채':'민',
         '정':'민'}
print(dict1)

{'채': '민', '정': '민'}

In [6]:
dict1.get('채')

'민'

In [7]:
dict1['채정'] = '민'
print(dict1)

{'채': '민', '정': '민', '채정': '민'}

In [8]:
del dict1['채']
print(dict1)

{'정': '민', '채정': '민'}

In [10]:
a = range(10)
print(a)
a = list(a)
print(a)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
a = '채정민폼미쳤다'
for i in a:
    print(i)

채
정
민
폼
미
쳤
다

In [15]:
for i in range(1,10):
    for j in range(1,10):
        print(i*j,end = ' ')
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [17]:
for i in range(1,10):
    print(f'----------{i}단-----------')
    for j in range(1,10):
        print(f'구구단 : {i} x {j} = {i*j}입니다.')

----------1단-----------
구구단 : 1 x 1 = 1입니다.
구구단 : 1 x 2 = 2입니다.
구구단 : 1 x 3 = 3입니다.
구구단 : 1 x 4 = 4입니다.
구구단 : 1 x 5 = 5입니다.
구구단 : 1 x 6 = 6입니다.
구구단 : 1 x 7 = 7입니다.
구구단 : 1 x 8 = 8입니다.
구구단 : 1 x 9 = 9입니다.
----------2단-----------
구구단 : 2 x 1 = 2입니다.
구구단 : 2 x 2 = 4입니다.
구구단 : 2 x 3 = 6입니다.
구구단 : 2 x 4 = 8입니다.
구구단 : 2 x 5 = 10입니다.
구구단 : 2 x 6 = 12입니다.
구구단 : 2 x 7 = 14입니다.
구구단 : 2 x 8 = 16입니다.
구구단 : 2 x 9 = 18입니다.
----------3단-----------
구구단 : 3 x 1 = 3입니다.
구구단 : 3 x 2 = 6입니다.
구구단 : 3 x 3 = 9입니다.
구구단 : 3 x 4 = 12입니다.
구구단 : 3 x 5 = 15입니다.
구구단 : 3 x 6 = 18입니다.
구구단 : 3 x 7 = 21입니다.
구구단 : 3 x 8 = 24입니다.
구구단 : 3 x 9 = 27입니다.
----------4단-----------
구구단 : 4 x 1 = 4입니다.
구구단 : 4 x 2 = 8입니다.
구구단 : 4 x 3 = 12입니다.
구구단 : 4 x 4 = 16입니다.
구구단 : 4 x 5 = 20입니다.
구구단 : 4 x 6 = 24입니다.
구구단 : 4 x 7 = 28입니다.
구구단 : 4 x 8 = 32입니다.
구구단 : 4 x 9 = 36입니다.
----------5단-----------
구구단 : 5 x 1 = 5입니다.
구구단 : 5 x 2 = 10입니다.
구구단 : 5 x 3 = 15입니다.
구구단 : 5 x 4 = 20입니다.
구구단 : 5 x 5 = 25입니다.
구구단 : 5 x 6 = 30입니다.
구구단 : 5 x 7 = 35입니다.
구구단 : 5 x 8 = 40입니다.
구구단 : 5 x 9 = 45입니다.
----------6단-----------
구구단 : 6 x 1 = 6입니다.
구구단 : 6 x 2 = 12입니다.
구구단 : 6 x 3 = 18입니다.
구구단 : 6 x 4 = 24입니다.
구구단 : 6 x 5 = 30입니다.
구구단 : 6 x 6 = 36입니다.
구구단 : 6 x 7 = 42입니다.
구구단 : 6 x 8 = 48입니다.
구구단 : 6 x 9 = 54입니다.
----------7단-----------
구구단 : 7 x 1 = 7입니다.
구구단 : 7 x 2 = 14입니다.
구구단 : 7 x 3 = 21입니다.
구구단 : 7 x 4 = 28입니다.
구구단 : 7 x 5 = 35입니다.
구구단 : 7 x 6 = 42입니다.
구구단 : 7 x 7 = 49입니다.
구구단 : 7 x 8 = 56입니다.
구구단 : 7 x 9 = 63입니다.
----------8단-----------
구구단 : 8 x 1 = 8입니다.
구구단 : 8 x 2 = 16입니다.
구구단 : 8 x 3 = 24입니다.
구구단 : 8 x 4 = 32입니다.
구구단 : 8 x 5 = 40입니다.
구구단 : 8 x 6 = 48입니다.
구구단 : 8 x 7 = 56입니다.
구구단 : 8 x 8 = 64입니다.
구구단 : 8 x 9 = 72입니다.
----------9단-----------
구구단 : 9 x 1 = 9입니다.
구구단 : 9 x 2 = 18입니다.
구구단 : 9 x 3 = 27입니다.
구구단 : 9 x 4 = 36입니다.
구구단 : 9 x 5 = 45입니다.
구구단 : 9 x 6 = 54입니다.
구구단 : 9 x 7 = 63입니다.
구구단 : 9 x 8 = 72입니다.
구구단 : 9 x 9 = 81입니다.

In [23]:
for i,j in zip(range(1,10),range(9,-1,-1)):
    print(i,j)

1 9
2 8
3 7
4 6
5 5
6 4
7 3
8 2
9 1

In [24]:
Ai = {"417호":"유희경","514호":"황득영","510호":"홍종성",
     "509호":"오형술","507호":"장영관","508호":"문성동",
     "515호":"윤인섭","609호":"윤종철","513호":"박은희",
     "506호":"이두호","415호":"권세진","416호":"이태민",
     "607호":"조기필","516호":"김창균"}

In [29]:
for k,v in Ai.items():
    print(v,k)

유희경 417호
황득영 514호
홍종성 510호
오형술 509호
장영관 507호
문성동 508호
윤인섭 515호
윤종철 609호
박은희 513호
이두호 506호
권세진 415호
이태민 416호
조기필 607호
김창균 516호

In [27]:
for i in range(1,10):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [33]:
import os
os.getcwd()

'C:\\Users\\WoohyeopKang\\Desktop\\jupyter'

In [34]:
dir_list = os.listdir()

print(dir_list)

In [35]:
for i in dir_list:
    print(i)

.ipynb_checkpoints
lotto.ipynb
Untitled.ipynb

In [37]:
list1 = ['김철수/20','이철수/24','김영희/21','이영희/24','김민준/35','박민준/40','김지영/34','박지영/35']

for i in list1:
    a,b = i.split('/')
    print(f'{a}는 {b}살이다')

김철수는 20살이다
이철수는 24살이다
김영희는 21살이다
이영희는 24살이다
김민준는 35살이다
박민준는 40살이다
김지영는 34살이다
박지영는 35살이다

In [38]:
list2 = []
for i in list1:
    list2.append(i.split('/'))

In [41]:
print(list2)
for i in list2:
    print(f'{i[0]}는 {i[1]}살이다')

[['김철수', '20'], ['이철수', '24'], ['김영희', '21'], ['이영희', '24'], ['김민준', '35'], ['박민준', '40'], ['김지영', '34'], ['박지영', '35']]
김철수는 20살이다
이철수는 24살이다
김영희는 21살이다
이영희는 24살이다
김민준는 35살이다
박민준는 40살이다
김지영는 34살이다
박지영는 35살이다

In [1]:
a = Ai = {"417호":"유희경","514호":"황득영","510호":"홍종성",
     "509호":"오형술","507호":"장영관","508호":"문성동",
     "515호":"윤인섭","609호":"윤종철","513호":"박은희",
     "506호":"이두호","415호":"권세진","416호":"이태민",
     "607호":"조기필","516호":"김창균"}

In [2]:
for i,j in a.items():
    print(i,j)

417호 유희경
514호 황득영
510호 홍종성
509호 오형술
507호 장영관
508호 문성동
515호 윤인섭
609호 윤종철
513호 박은희
506호 이두호
415호 권세진
416호 이태민
607호 조기필
516호 김창균

In [3]:
for i in a.values():
    print(i)

유희경
황득영
홍종성
오형술
장영관
문성동
윤인섭
윤종철
박은희
이두호
권세진
이태민
조기필
김창균

In [4]:
for i in a.keys():
    print(i)

417호
514호
510호
509호
507호
508호
515호
609호
513호
506호
415호
416호
607호
516호

In [5]:
a = 10
if a>9:
    print('통과')

통과

In [9]:
a = 9
b = 20
if a > 9:
    print('통과')
else:
    print('X')

X

In [11]:
if a >= 10:
    print('첫번째')
elif a >= 8 and b<10:
    print('두번째')
else:
    print('나머지 전부')

나머지 전부

In [12]:
a = 10
list1 = [1,2,3,4,10]
if a in list1:
    print('a')

a

In [15]:
i = 0
while i < 100:
    i += 2
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [18]:
a = 1

In [3]:
def 함수명도한글이된다구(a,b):
    print(a+b)

In [4]:
함수명도한글이된다구(10,11)

21

In [5]:
def plus(a,b):
    return a+b

In [6]:
print(plus(10,20))

30

In [7]:
def t(a,b):
    c = a+b
    return c
a

NameError: name 'a' is not defined

In [8]:
def p(a,b):
    c = a+b
    return a,b,c

In [10]:
a = p(10,20)

In [11]:
type(a)

tuple

In [12]:
def num(*args):
    return sum(args)
print(num(1,2,3,4,5,6,7,8,9,10))

55

In [14]:
def num1(*args,name):
    return name,sum(args)
print(num1(1,2,3,4,5,6,name = 'K'))

('K', 21)

In [15]:
def phone(n):
    while True:
        ans = input('핸드폰에 어떤 문제가 있나요? ')
        if ans == 'f':
            break
        n -= 15000
    print(n)
phone(200000)

핸드폰에 어떤 문제가 있나요?액
핸드폰에 어떤 문제가 있나요?정
핸드폰에 어떤 문제가 있나요?파
핸드폰에 어떤 문제가 있나요?손
핸드폰에 어떤 문제가 있나요?f
140000

In [17]:
a = 5
if a >= 10:
    print(1)
elif a >= 5:
    print(2)
elif a >= 3:
    print(4)
else:
    print(3)

2